block vars

if (ajax)
  block contentAjax
else
  doctype html
  html(lang="fr")
    head
      title #{config.SITE_TITLE} | #{pageTitle}
      meta(name='viewport', content="width=device-width,initial-scale=1.0")
      link(rel="icon", type="image/png", href="/img/logo.png")
      link(rel="stylesheet", href="/css/concat.css")
      link(rel="stylesheet", href="/css/main.css")
    body
      aside.column.small-12.large-3
        p#intro
          a(href="/")
            img#logo(src="/img/logo_full.png")
          | Est une radio de découvertes musicales basée à Compiègne.
          | Vous pouvez nous écouter en FM sur le 94.9MHz et en streaming sur cette page.
        .title-bar(data-responsive-toggle="example-menu", data-hide-for="large")
          button.menu-icon(type=button, data-toggle)
          .title-bar-title Menu
        ul.dropdown.menu.vertical#example-menu
          li
            a.button(href="/") Actualités
          li
            a.button(href="/grille-des-programmes") Grille des programmes
          li
            a.button(href="/podcasts") Podcasts
          li
            a.button(href="/a-propos") A propos
          section#nowPlaying
            p Vous écoutez
            ul#lastFive
            p Rechercher un titre passé
            .row
                select#searchDate.column.large-6
                  - for (var i = 0; i < 15; i++)
                    - var date = myFunctions.returnDate(i)
                      option(value=date)= date
                select#searchHour.column.large-6
                 - for (var h = 0; h < 24; h++)
                   - for (var m = 0; m < 60; m+=5)
                    - var min = myFunctions.twoDigitsNumber(m)
                    - var heure = h + ":" + min
                    option(value=heure) #{heure}
                button#search.button.expanded.secondary Rechercher
                p#searchResultsIntro.hide A cette heure il passait
                ul#searchResults
      section#content.column.small-12.large-9
        block content
      #player
        img#playPause(src="/img/play.svg")
        img#cover(src="/img/logo.png")
        span#title Chargement...
        #progressRight
         span#progressText
          span.badge Live
         button#playerButton(data-toggle="playerMenu") ∴
        .dropdown-pane#playerMenu(data-dropdown)
          a.button.expanded#returnToLive Revenir au live
          a.button.expanded#getStream Source du flux
        progress#progress(style="display:none")
        audio#audio(preload)
          source(src=config.STREAM_URL, type="audio/mpeg", data-streamurl=config.STREAM_URL)

      #scripts
        script(src='/js/concat.js')
        script(src='/js/shared.js')
        script(src='/js/main.js')
