extends _layout.pug

block vars
  - var pageTitle="Accueil"

block content
  block contentAjax
    h1 À ré-écouter
    each highlight in highlighted
      .media-object.podcast
        .media-object-section
          .thumbnail(data-file=highlight.fileUrl, data-title=highlight.title)
            img(src="/img/logo.png")
        .media-object-section
          h5= highlight.title
          p !{highlight.description}
    if actus
      h1 Actualités
      each actu in actus
        .callout
          h5= actu.title
          p !{actu.content}
